<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.cenet.hotel"
        version   = "0.0.1">
    <name>Hotel</name>

    <description>
        Aplicación para reservar habitaciones en un Hotel
    </description>

    <author href="http://www.ietlax.org.mx" email="netophp@gmail.com">
        netito alva
    </author>

    <feature name="http://api.phonegap.com/1.0/device" />

    <preference name="phonegap-version" value="2.3.0" />
    <preference name="orientation"      value="portrait" />
    <preference name="target-device"    value="universal" />
    <preference name="fullscreen"       value="true" />

    <icon src="logon.png" />
    <icon src="img/logon.png"   gap:platform="android"    gap:density="ldpi" />
    <icon src="img/logon.png"   gap:platform="android"    gap:density="mdpi" />
    <icon src="img/logon.png"   gap:platform="android"    gap:density="hdpi" />
    <icon src="img/logon.png"  gap:platform="android"    gap:density="xhdpi" />
    <icon src="img/logon.png"     gap:platform="blackberry" />
    <icon src="img/logon.png"     gap:platform="blackberry" gap:state="hover"/>
    <icon src="img/logon.png"            gap:platform="ios"        width="57" height="57" />
    <icon src="img/logon.png"            gap:platform="ios"        width="72" height="72" />
    <icon src="img/logon.png"         gap:platform="ios"        width="114" height="114" />
    <icon src="img/logon.png"         gap:platform="ios"        width="144" height="144" />
    <icon src="img/logon.png"          gap:platform="webos" />
    <icon src="img/logon.png"  gap:platform="winphone" />
    <icon src="img/logon.png" gap:platform="winphone"   gap:role="background" />

    <gap:splash src="img/fondo.jpg"  gap:platform="android" gap:density="ldpi" />
    <gap:splash src="img/fondo.jpg"  gap:platform="android" gap:density="mdpi" />
    <gap:splash src="img/fondo.jpg"  gap:platform="android" gap:density="hdpi" />
    <gap:splash src="img/fondo.jpg" gap:platform="android" gap:density="xhdpi" />
    <gap:splash src="img/fondo.jpg"         gap:platform="blackberry" />
    <gap:splash src="img/fondo.jpg"    gap:platform="ios"     width="320" height="480" />
    <gap:splash src="img/fondo.jpg" gap:platform="ios"     width="640" height="960" />
    <gap:splash src="img/fondo.jpg"      gap:platform="ios"     width="768" height="1024" />
    <gap:splash src="img/fondo.jpg"     gap:platform="ios"     width="1024" height="768" />
    <gap:splash src="img/fondo.jpg" gap:platform="winphone" />
	
	<access origin="*" subdomains="true" />
</widget>